<rule name="rule 1q" stopProcessing="true">
	<match url=".*[^/]$"  />
	<action type="Rewrite" url="/%{REQUEST_URI}/"  />
</rule>
<rule name="rule 2q" stopProcessing="true">
	<match url="^index\.html$"  />
	<action type="Rewrite" url="//"  />
</rule>
<rule name="rule 3q">
	<match url="^([^/]+)/$"  />
	<action type="Rewrite" url="/{R:1}.html"  />
</rule>
<rule name="rule 4q">
	<match url="^([^/]+)/([^/]+)/$"  />
	<action type="Rewrite" url="/{R:1}/{R:2}.html"  />
</rule>
<rule name="rule 5q">
	<match url="^([^/]+)/([^/]+)/([^/]+)/$"  />
	<action type="Rewrite" url="/{R:1}/{R:2}/{R:3}.html"  />
</rule>
<rule name="rule 6q">
	<match url="^([^/]+)/([^/]+)/([^/]+)/([^/]+)/$"  />
	<action type="Rewrite" url="/{R:1}/{R:2}/{R:3}/{R:4}.html"  />
</rule>
<rule name="rule 7q">
	<match url="^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/$"  />
	<action type="Rewrite" url="/{R:1}/{R:2}/{R:3}/{R:4}/{R:5}.html"  />
</rule>
<rule name="rule 8q">
	<match url="^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/$"  />
	<action type="Rewrite" url="/{R:1}/{R:2}/{R:3}/{R:4}/{R:5}/{R:6}.html"  />
</rule>
<rule name="rule 9q">
	<match url="^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/$"  />
	<action type="Rewrite" url="/{R:1}/{R:2}/{R:3}/{R:4}/{R:5}/{R:6}/{R:7}.html"  />
</rule>
<rule name="rule 10q">
	<match url="^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/$"  />
	<action type="Rewrite" url="/{R:1}/{R:2}/{R:3}/{R:4}/{R:5}/{R:6}/{R:7}/{R:8}.html"  />
</rule>
<rule name="rule 11q">
	<match url="^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/$"  />
	<action type="Rewrite" url="/{R:1}/{R:2}/{R:3}/{R:4}/{R:5}/{R:6}/{R:7}/{R:8}/{R:9}.html"  />
</rule>
<rule name="rule 12q">
	<match url="^([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/$"  />
	<action type="Rewrite" url="/{R:1}/{R:2}/{R:3}/{R:4}/{R:5}/{R:6}/{R:7}/{R:8}/{R:9}/{R:10}.html"  />
</rule>
<rule name="rule 13q" stopProcessing="true">
	<match url="^(.*)\.shtml$"  ignoreCase="true" />
	<action type="Rewrite" url="/{R:1}.html"  />
</rule>
<rule name="rule 14q" stopProcessing="true">
	<match url="^(.*)\.phtml$"  ignoreCase="true" />
	<action type="Rewrite" url="/{R:1}.html"  />
</rule>
<rule name="rule 15q" stopProcessing="true">
	<match url="^(.*)\.jhtml$"  ignoreCase="true" />
	<action type="Rewrite" url="/{R:1}.html"  />
</rule>
<rule name="rule 16q" stopProcessing="true">
	<match url="^(.*)\.htm$"  ignoreCase="true" />
	<action type="Rewrite" url="/{R:1}.html"  />
</rule>
<rule name="rule 17q" stopProcessing="true">
	<match url="^(.*)\.php$"  ignoreCase="true" />
	<action type="Rewrite" url="/{R:1}.html"  />
</rule>
<rule name="rule 18q" stopProcessing="true">
	<match url="^(.*)\.aspx$"  ignoreCase="true" />
	<action type="Rewrite" url="/{R:1}.html"  />
</rule>
<rule name="rule 19q" stopProcessing="true">
	<match url="^(.*)\.asp$"  ignoreCase="true" />
	<action type="Rewrite" url="/{R:1}.html"  />
</rule>
<rule name="rule 20q" stopProcessing="true">
	<match url="^(.*)\.jsp$"  ignoreCase="true" />
	<action type="Rewrite" url="/{R:1}.html"  />
</rule>
<rule name="rule 21q" stopProcessing="true">
	<match url="^(.*)\.apk$"  ignoreCase="true" />
	<action type="Rewrite" url="/{R:1}.html"  />
</rule>
