.elementor-2648 .elementor-element.elementor-element-3310784:not(.elementor-motion-effects-element-type-background), .elementor-2648 .elementor-element.elementor-element-3310784 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:radial-gradient(at center center, #1B315A 27%, #010000 100%);}.elementor-2648 .elementor-element.elementor-element-3310784{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2648 .elementor-element.elementor-element-3310784 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2648 .elementor-element.elementor-element-3ec955a{--spacer-size:50px;}.elementor-2648 .elementor-element.elementor-element-4709322{text-align:center;}.elementor-2648 .elementor-element.elementor-element-4709322 .elementor-heading-title{font-family:"Inter", Sans-serif;font-weight:600;}.elementor-2648 .elementor-element.elementor-element-d519040 img{width:100%;max-width:100%;}.elementor-2648 .elementor-element.elementor-element-80c77ea .elementor-button .elementor-align-icon-right{margin-left:19px;}.elementor-2648 .elementor-element.elementor-element-80c77ea .elementor-button .elementor-align-icon-left{margin-right:19px;}.elementor-2648 .elementor-element.elementor-element-80c77ea .elementor-button{font-family:"Public Sans", Sans-serif;font-size:20px;font-weight:500;text-shadow:0px 0px 10px rgba(0, 0, 0, 0.47);fill:#FFFFFF;color:#FFFFFF;background-color:#FFFFFF6B;border-radius:7px 7px 7px 7px;padding:3% 28% 3% 28%;}.elementor-2648 .elementor-element.elementor-element-80c77ea .elementor-button:hover, .elementor-2648 .elementor-element.elementor-element-80c77ea .elementor-button:focus{background-color:#5BA9FF;}.elementor-2648 .elementor-element.elementor-element-7fd9c3f .elementor-heading-title{color:var( --e-global-color-primary );font-family:"Inter", Sans-serif;font-weight:600;}.elementor-2648 .elementor-element.elementor-element-6808e68 .elementor-heading-title{font-family:"Inter", Sans-serif;font-weight:600;}.elementor-2648 .elementor-element.elementor-element-44031f6 .elementor-heading-title{font-family:"Inter", Sans-serif;font-weight:600;}.elementor-2648 .elementor-element.elementor-element-0a4c6a6 .elementor-heading-title{font-family:"Inter", Sans-serif;font-weight:500;line-height:30px;}.elementor-2648 .elementor-element.elementor-element-f935a8f .elementor-heading-title{font-family:"Inter", Sans-serif;font-weight:500;}.elementor-2648 .elementor-element.elementor-element-be1b949 .elementor-repeater-item-2f4c791.elementor-social-icon{background-color:#5865F2;}.elementor-2648 .elementor-element.elementor-element-be1b949 .elementor-repeater-item-e89172a.elementor-social-icon{background-color:#9B2121;}.elementor-2648 .elementor-element.elementor-element-be1b949{--grid-template-columns:repeat(0, auto);--icon-size:24px;--grid-column-gap:5px;--grid-row-gap:0px;}.elementor-2648 .elementor-element.elementor-element-be1b949 .elementor-widget-container{text-align:center;}.elementor-2648 .elementor-element.elementor-element-f992486{--spacer-size:50px;}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/04/Inter-VariableFont_slntwght.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Public Sans';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('../../2022/05/PublicSans-ThinItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('../../2022/05/PublicSans-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: italic;
	font-weight: 400;
	font-display: auto;
	src: url('../../2022/05/PublicSans-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../../2022/05/PublicSans-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-MediumItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('../../2022/05/PublicSans-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-BlackItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-Black.ttf') format('truetype');
}
/* End Custom Fonts CSS */