.elementor-11537 .elementor-element.elementor-element-4c3410e{text-align:center;}.elementor-11537 .elementor-element.elementor-element-4c3410e .elementor-heading-title{font-family:"Public Sans", Sans-serif;font-weight:300;}.elementor-11537 .elementor-element.elementor-element-28a7eb7 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-11537 .elementor-element.elementor-element-2c76e0d > .elementor-widget-container{padding:25px 25px 25px 25px;}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Public Sans';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('../../2022/05/PublicSans-ThinItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('../../2022/05/PublicSans-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: italic;
	font-weight: 400;
	font-display: auto;
	src: url('../../2022/05/PublicSans-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../../2022/05/PublicSans-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-MediumItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: italic;
	font-weight: 100;
	font-display: auto;
	src: url('../../2022/05/PublicSans-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-Italic.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-BoldItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-BlackItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Public Sans';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2022/05/PublicSans-Black.ttf') format('truetype');
}
/* End Custom Fonts CSS */